@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    list-style: none;
}
header{
    max-width: 1920px;
    margin:auto;
    height: 11vh;
    width: 100%;
    border: solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #128596
    
}
.menu{
   display: none; 
}

header figure img{
    width:4vw;
    border: solid red;
}
header div{
    display: flex;
    justify-content: space-between;
    border: solid red;
    width: 80%;
}
header nav{
    border: solid red;
    width: 50% ; 
    display: flex;
    justify-content: space-evenly;
}

 header ul{
    display: flex;
    justify-content: space-around;
    font-size: 1.5vw;
    width: 100%;
  
 }
 header li{
     color: white;
 }
  input::placeholder::before{
      content: url(https://bit.ly/3sGa2dX);
  }

  input{
      border-radius:  10px;

  }
